*{
        padding: 0;
        margin: 0;
}

@font-face {
        font-family: 'lex';
        src: url(../FONNTS/LexendExa-SemiBold.ttf);
}

body{
        background-image: url(../images/pexels-king-siberia-2277980.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: scroll;
        height: 115vh;
        width: 100%;
        overflow-x: hidden;
        margin-bottom: 20px;
}
.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
}
    
.item {
        background: transparent;
        backdrop-filter: blur(10px);
        width: 340px;
        height: 350px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        margin: 30px 2px 2px 2px;
        padding: 10px 10px 20px 10px;
}
    
.item img {
        width: 80%;
        border-radius: 10px;
}
 
img:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        cursor: pointer;
}

.item h2 {
        margin-top: 10px;
        font-family: 'lex';
        color:  #F29F05;
        font-size: 10pt;
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
    
.item p {
        margin-top: 10px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
}
    
.buttons  {
        display: flex;
        justify-content: center;
        margin-top: 45px;
}

.favoritar {
        margin: 10px;
        padding: 10px;
        font-size: 10pt;
        font-family: 'lex';
        border-radius: 4px;
        margin: 2px 10px;
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
}

.favoritar:hover{
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);
}   

.compart {
        padding: 10px;
        font-size: 10pt;
        font-family: 'lex';
        border-radius: 4px;
        margin: 2px 10px;
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
}

.compart:hover{
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);    
}

.carrinho {
        margin: 10px;
        padding: 10px;
        font-size: 10pt;
        font-family: 'lex';
        border-radius: 4px;
        margin: 2px 10px;
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
}

.carrinho:hover{
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);
}

.comprar {
        margin: 10px;
        padding: 10px;
        font-size: 10pt;
        font-family: 'lex';
        border-radius: 4px;
        margin: 2px 10px;
        cursor: pointer;background: transparent;
        backdrop-filter: blur(5px);
         border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
}

.comprar:hover{
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
  }
  
  .modal-content {
    font-family: 'lex';
    color: #ffffff;
    width: 50%;
    height: 40%; 
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
  }

  .opcoes{
    font-size: 28px;
    text-align: center;
    margin: -9px 0px 25px 0px;
  
  }
  
  .modal select {
    margin-bottom: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #000;
    width: 108px;
    height: 25px;
    padding: 0px 2px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  #quantity {
    margin-bottom: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #000;
    width: 80px;
    height: 25px;
    padding: 0px 5px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  
select#style {
    margin-bottom: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #000;
    width: 145px;
    height: 25px;
    padding: 0px 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  .modal button {
    margin: 8px 16px 8px 0px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'lex';
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
  }

  .modal button:hover {
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);    
  }

  .butoesns {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 5px 13px 0px 0px;
  }

  #cancelBtn {
    margin-right: 400px;
  }

  #confirmBtn {
    margin-right: 0px;
  }

  .nav-list{
    list-style: none;
    display: flex;
    margin: 0px 0px 0px 360px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-family: 'lex';
    background: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 8vh; 
    width: 100%;
}

.titu{
    font-family: 'lex';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px 0px 0px 25px;
    color: #ffffff;
    text-decoration: none;
}

.titu:hover{
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    transition-duration: none;
    color: #F29F05;
}

.cabeca {
    text-decoration: none;
    color: white; 
}

a:hover{
    color: #F29F05;
    text-decoration: underline;
    font-size: 17px;
    transition-duration: 0.5s;
}

.menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}


.menu li {
    display: inline-block;
    position: relative;
    font-family: 'lex';
    color: #ffffff;
    font-size: 15px;
    text-align: justify;
    padding: 0px 0px 0px 1px;
}

.menu li:hover{
    color: #F29F05;
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu li a {
    display: block;
    padding: 1px 0px 3px 0px;
    margin: 1px 1px 1px 1px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'lex';
    font-size: 15px;
}

.menu li a:hover{
    color: #F29F05;
}

.menu .submenu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    backdrop-filter: blur(30px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.menu li:hover .submenu1 {
    display: block;
    padding: 0px 1px 1px 1px;
}

ul .submenu1{
    height: 13vh;
    width: 16vw;
    margin: 0px 0px 0px 7px;
    padding: 1px 1px 1px 1px;
}

.menu .submenu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    backdrop-filter: blur(30px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.menu li:hover .submenu2 {
    display: block;
    padding: 0px 1px 1px 1px;
}

ul .submenu2 {
    height: 17vh;
    width: 10vw;
    margin: 0px 0px 0px 7px;
}

.menu .submenu3 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    backdrop-filter: blur(30px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.menu li:hover .submenu3 {
    display: block;
    padding: 0px 1px 1px 1px;
}

ul .submenu3 {
    height: 13vh;
    width: 10vw;
    margin: 0px 0px 0px 7px;
}

.menu .submenu4 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    backdrop-filter: blur(30px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.menu li:hover .submenu4 {
    display: block;
    padding: 0px 1px 1px 1px;
}

ul .submenu4 {
    height: 9vh;
    width: 13vw;
    margin: 0px 0px 0px 7px;
}

.prin{
    color: #ffffff;
    width: 10vw;
    height: 5vh;
    font-size: 15px;
    margin: 0px 5px -5px 1px;
    padding: 5px 5px 0px 5px;
}

.prin:hover{
    color: #F29F05;
    transition-duration: 0.5s;
    text-decoration: underline;
    font-size: 16px;
}

.op{
    text-align: justify;
    font-size: 10px;
}

.op:hover{
    color: #F29F05;
    font-size: 15px;
    text-align: start;
}

.menu .submenu1 li {
    display: block;
}

hr{
    color: rgba(255, 255, 255, 0.2);;
}

.espaçamento {
    height: 85px;
    width: 100%;
}