*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'lex';
    src: url(../FONNTS/LexendExa-SemiBold.ttf);
}

body{
    background-image: url(../images/pexels-king-siberia-2277980.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.pai{
    background: transparent;
    backdrop-filter: blur(100px);
    width: 92%;;
    padding: 10px 10px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 20px 0px 0px 40px;
}

header {
    background: transparent;
    backdrop-filter: blur(100px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:  #F29F05;
    padding: 20px;
    text-align: center;
    
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: 'lex';
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color:  #F29F05;
    font-family: 'lex';
    margin-bottom: 10px;
}

  button {
    margin: 17px 0px 8px 470px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'lex';
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-shadow:  0 0 10px rgba(0, 0, 0, 5.2);
  }

   button:hover {
        background-color: #F29F05;
        transition-duration: 0.5s;
        transform: scale(1.1);    
  }

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}