*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    font-family: sans-serif;
    font-size: 300%;
    height: 95vh;
    place-items: center;
}

.text{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

h1{
    animation: fade 1ms 0.5s forwards;
    opacity: 0;
}

.text::after {

   animation: revele 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
   background-color: #157bad;
   content: '';
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

}

@keyframes revele {
    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(101%);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}